<div class="container" *ngIf="loggedIn">
  <div class="d-flex flex-column flex-sm-row flex-wrap justify-content-center gap-3" >
    <div class="card" *ngFor="let task of taskList" style="width: 20rem ;">
          <div class="card-header d-flex justify-content-between ">
            <div>
              Created on : {{task.createdDate | date:'medium'}}
            </div>
          </div>
          <div class="card-body position-relative">
            <h5 class="card-title" [routerLink]="['/task',task.id]" style="cursor: pointer;text-decoration: underline;">{{task.title}}</h5>
            <p class="card-text mb-5">{{task.description}}</p>
            <!-- <div style="position: absolute; bottom: 10px;"> -->
              <a class="btn btn-warning position-absolute" style="left: 1rem; bottom: 1rem;"  (click)="deleteTask(task.id)">Delete</a>
              <a class="btn btn-primary position-absolute" style="right: 1rem; bottom: 1rem" [routerLink]="['/',task.id,'edit']">Update</a>
              <!-- <a (click)="filterTaskList('test')">Test</a> -->
            <!-- </div> -->
          </div>
    </div>
  </div>
  <div *ngIf="!loggedIn" class="col-sm-4">
    Please login to see the active task list
    <div class="d-flex justify-content-center text text-danger" *ngIf="loggedIn && taskList.length == 0">
      <h5> No Data Found </h5>
     </div>
  </div>
</div>
